body{
    animation: gradient 10s ease infinite;
    background: linear-gradient(-45deg, rgb(109, 199, 202), rgb(160, 115, 185), rgb(255, 173, 96));
    background-size: 300%;
    font-size: 300%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    height: 100vh;
    overflow: hidden;
}
@keyframes gradient{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 50% 100%;
    }
    100%{
        background-position: 0% 50%;
    }
}